# The libphonenumber team can approve changes in all the paths in the project.
# This is done to make maintainance easy. Eg: Release cop can also approve changes going in.
*       @google/libphonenumber
