target/
!tools/java/cpp-build/target/cpp-build-1.0-SNAPSHOT-jar-with-dependencies.jar
build/
lib/
generated/
.gradle
cpp/test/phonenumbers/geocoding/geocoding_test_data.cc
cpp/src/phonenumbers/geocoding/geocoding_data.cc
cpp/**/*.pb.cc
cpp/**/*.pb.h